@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Flow+Circular&family=Honk&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Barlow", sans-serif;
}
.cursor-pointer {
  cursor: pointer;
}

.brand-orange {
  color: #ff6503;
}

.brand-blue {
  color: #0041a9;
}

.brandFont {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: italic;
}
.barlow600 {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.barlow200 {
  font-family: "Barlow", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.bg-sec3 {
  width: 100%; /* Set your desired width */
  /* height: 419px;  Set your desired height */
  background: linear-gradient(
    90deg,
    rgba(233, 240, 251, 1),
    rgba(198, 212, 238, 1)
  );
  border-radius: 14px;
}
.hand-icon {
  position: absolute;
  max-width: 22%;
  bottom: 0px;
}

.general {
  background: linear-gradient(
    90deg,
    rgb(224, 243, 192),
    rgba(207, 238, 149, 0.753)
  );
  width: "100%";
  border-radius: 8px;
  height: 25em;
}

.staff {
  position: absolute;
  bottom: 0px;
  right: 58%;
  width: 24em;
}

hr {
  border: 0.1px solid rgba(0, 0, 0, 0.568);
  /* outline: 1px solid rgb(0, 0, 0); */
  width: 8em;
  z-index: 99;
}

/* WE OFFER */
.background {
  background-color: rgba(234, 241, 252, 1);
  width: 100%;
  position: relative;
  top: 17em;
  /* height: 500px; */
}

/* .card {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.651);
  border-radius: 7px;
  padding: 1.5em;
} */

.card {
  background-color: rgba(255, 255, 255, 0.651);
  padding: 1.5em;
  height: 300px; /* Set a fixed height */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Align content evenly */
  z-index: 1;
}

.pickup {
  font-weight: 700;
  color: #ff6503;
}
.errands {
  font-weight: 700;
  color: #000000;
}
.delivery {
  font-weight: 700;
  color: #0041a9;
}

.pikupimage {
  position: relative;
  left: 35px;
  top: 1em;
}
.position-relative {
  position: relative;
}

.background-text {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6rem; /* Adjust size as needed */
  font-weight: bold;
  color: rgba(0, 0, 0, 0.1); /* Transparent black */
  z-index: 0;
  text-transform: uppercase;
}
/* ?partner with us */
.partnerBg {
  background-image: url("./assets/partner.png");
  background-size: 1000px 450px; /* Set specific width and height for the background */
  background-repeat: no-repeat;
  background-position: center; /* Center the image within the div */
  padding: 5.5em;
  height: 700px; /* Set the height of the container */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Align content evenly */
}
/* the responsive media query of the application */
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .hand-icon {
    position: absolute;
    max-width: 10%;
    bottom: 0px;
    display: none;
  }
  .staff {
    position: absolute;
    bottom: 35em;
    right: -8%;
    width: 29em;
  }
  .general {
    background: linear-gradient(
      90deg,
      rgb(224, 243, 192),
      rgba(207, 238, 149, 0.753)
    );
    width: "100%";
    border-radius: 8px;
    height: 33em;
  }
  .pikupimage {
    position: relative;
    left: 35px;
    top: 0em;
  }
  /* what we offer card media query for responsiveness */
  .card {
    background-color: rgba(255, 255, 255, 0.651);
    padding: 1.5em;
    height: 335px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .partnerBg {
    background-image: url("./assets/partner.png");
    background-size: 1000px 450px; /* Set specific width and height for the background */
    background-repeat: no-repeat;
    background-position: center; /* Center the image within the div */
    /* padding: 5.5em; */
    height: 700px; /* Set the height of the container */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Align content evenly */
  }
  .partnerForm {
    background: white;
    width: 100%;
    box-shadow: rgb(0 0 0 / 16%) 0px 10px 30px;
    border-radius: 8px;
    padding: 2em;
  }
}

.partnerForm {
  background: white;
  width: 80%;
  box-shadow: rgb(0 0 0 / 16%) 0px 10px 30px;
  border-radius: 8px;
  padding: 2em;
}

.weMoveGradient {
  font-size: 72px;
  font-weight: 800;
  opacity: 0.2;
  background: -webkit-linear-gradient(#bcb5b5, #333);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
.footer-bg {
  background-color: #0041a9;
}
.footer-text {
  color: #0041a9;
}

/* FAQ */

.faq {
  background-color: #c7d5ef;
  height: 32em;
  width: 100%;
  margin-top: 9em;
}

.faq-content {
  position: relative;
  top: 8em;
  left: 3em;
}
